html,
body {
	height: 100%;
}

body {
	padding: 3%;
	background-image: url('https://goo.gl/xAg5U5');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
}

#forFun {
	clear: both;
}

#brand {
	letter-spacing: 1px;
	color: white;
	
   
}

#claim {
	font-family: arial;
	font-size: 0.75em
}

#devMode {
	position: absolute;
	right: 100%;
	top: 30px;
	padding: 3px;
	color: white;
	background: red;
}

* {
	border: 0;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box
    
}

form {
	padding: 2%;
	// position: absolute;
	min-width: 240px;
	max-width: 400px;
	background: darkgrey;
	border-radius: 10px;
	box-shadow: 2px 2px 10px black, 2px 2px rgba(255, 255, 255, 1) inset, -2px -2px rgba(0, 0, 0, .7) inset;
	transform: rotate(2deg);
	left: 0;
	right: 0;
	bottom: 30%;
}

input[type="text"] {
	color: #131;
	font-size: 1.7em;
	background: lightskyblue;
	width: 100%;
	text-align: right;
	margin-top: 2%;
	padding: 2%;
	background-size: 3px 3px;
	
}

input {
	height: 50px;
	border-radius: 3px;
	font-size: 1.35em;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin-bottom: 1%;
}

input.btn {
	width: 25%;
	position: relative;
}

input[value="C"],
input[value="="] {
	width: 12.5%;
}

input:active,
input.pressed {
	border-radius: 3px;
	box-shadow: 0 3px 10px #aaa inset
}

input[type="button"]:hover {
	border: 1px solid white
}


/* no digits */

input[name] {
	background: yellow;
}

input[value="C"] {
	background: yellow
}
